@tailwind base;
@tailwind components;
@tailwind utilities;

tr{
    display: flex;
    overflow: hidden;
}

td, th{
    width: 100%;
    overflow-wrap: break-word;
    padding: 0.5rem;
}

tbody tr{
    background-color: rgba(183,83,9,0.1);
}

tbody tr:nth-child(2n){
    background-color: rgba(183,83,9,0.2);

}


td{
    font-weight: 500;
}

tbody tr{
    margin-top: 0.5rem;
}

tbody tr:last-child{
    border: 1px solid rgba(183,83,9,0.1);
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

.modalOpacity{
    transform: scale(1);
}